.QPushButton, .QPlainTextEdit, .QLineEdit
{
    color: #343A90;
    border: 2px solid #343A90;
}

.QComboBox, .QLabel
{
    color: #343A90;
}

.QPushButton:hover, .QPushButton:focus
{
    color: #FFFFFF;
    background-color: #343A90;
}
